.general{
    margin-right: 120px;
    margin-left: 120px;
}

.table-movil, .header-movil{
    display: none;
}

.table-desktop{
    display: block;
}

.header-desktop{
    display: flex;
}

@media (max-width:768px) {
    .general{
        margin-right: 20px !important;
        margin-left: 20px !important;
    }

    .table-movil{
        display: block;
    }

    .table-desktop{
        display: none;
    }
}

@media (max-width:425px) {
    .header-desktop{
        display: none;
    }
    .header-movil{
        display: block;
    }
}

@media (max-width:320px) {
    .general{
        margin-right: 10px !important;
        margin-left: 10px !important;
    }

    .total-movil{
        padding-left: 70px !important;
    }
}