#card-element {
    margin-bottom: 20px;
    /* display: flex; */
    padding-top: 12px;
}

.tarjeta-numero{
    width: 100%;
}
  
.tarjeta-date{
    width: 60%;
}
  
.tarjeta-ccv{
    width: 40%;
}
  
.tarjeta-cp{
    width: 100%;
}

.tarjeta-label {
    position: relative;
    color: #8898AA;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}
  
#card-element .tarjeta-label:not(:last-child) {
    border-bottom: 1px solid #F0F5FA;
}
  
.tarjeta-label > img {
    width: 30px;
    height: 30px;
    text-align: right;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
  
.field {
    background: white;
    font-weight: 300;
    border: 0;
    color: #31325F;
    outline: none;
    flex: 1;
    padding-right: 10px;
    padding-left: 10px;
    cursor: text;
}
  
.field::-webkit-input-placeholder {
    color: #CFD7E0;
}
  
.field::-moz-placeholder {
    color: #CFD7E0;
}

#card-errors{
    color: #9c2727;
}

/*MODAL ERROR*/
.modal-header {
    border: none;
}
.modal-body{
    border: 6px #B78B1D solid;
    margin: 1rem;
}
.razon-why{
    margin-bottom: 0;
    margin-left: 9rem;
}

@media(max-width:1024px) {
    .razon-why{
        margin-left: 8rem;
    }
}
@media(max-width:425px) {
    .razon-why{
        margin-left: 0;
    }
}

/*INPUT NOMBRE*/
.input-name{
    color: #31325F;
    line-height: 40px;
    font-weight: 300;
    font-family: 'Helvetica Neue';
    font-size: 15px;
    width: 100%;
    border: none;
}

.input-name::placeholder{
    color: '#CFD7E0';
  }