.payment{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.form-payment{
    background-color: #f2f2f2;
}

.form-payment h2 {
    background-color: #E8E8E8;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 28px 0 28px 20px;
    width: 100%;
}

.payment-content{
    margin-top: 16px;
}

.card-exp, .col-12{
    margin-bottom: 16px;
}

.credit{
    border-right: 1px black solid;
}

.openpay{
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-footer{
    width: 100%;
    margin-right: 38px;
    padding-bottom: 20px;
    text-align: right;
    padding-right: 45px;
}

@media(max-width:768px) {
    .payment{
        width: 80% !important;
    }
}
@media(max-width:425px) {
    .credit{
        border-right: none !important;
    }
}