body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
}

#top-nav-header{
    grid-column: 1/2;
    grid-row: 2/3;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
    padding-top: 10px;
}
#yith-topbar-countdown{
    grid-column: 1/2;
    grid-row: 1/2;
}
#main{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
}
.overlay{
    grid-column: 1/4;
    grid-row: 3;
    z-index: 999;
    display: none;
    height: 145px;
    position: fixed;
}
.overlays{
    grid-column: 1/2 !important;
    grid-row: 3 !important;
    z-index: 999 !important ;
    display: none;
    height: 145px !important;
    position: sticky !important;
    top: 11.3vh !important;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #9c9b9b;
}
#mySidenav{
    grid-column: 1/2;
    grid-row: 3/4;
    z-index: 999;
    display: none;
}
#fot{
    grid-column: 1/2;
    grid-row: 4/5;
}

* {
    box-sizing: border-box;
}

.btn-top{    
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 92px;
    right: 40px;
    background-color: transparent;
    border: none;
    color: #b78b1e;
    border-radius: 50px;
    text-align: center;
    z-index: 100;
    display: none;
}


.div_categoria{
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: column;
    grid-auto-columns: 33.3%;
    width: 98%;
    margin: auto;
}

.div_categoria div{
    position: relative;
    display: inline-block;
    text-align: center;
}

.div_categoria div img{
    position: relative;
    width: 100%;
}

.div_categoria div h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.div_banner div{
    position: relative;
    display: inline-block;
    text-align: center;
}

.div_banner div{
    position: relative;
    width: 100%;

    background: white;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}

.div_banner div h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.compra_segura{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "envio seguro entrega";
    grid-template-rows: 300px;
    background-color: #F1F2F2;
    width: 100%;
    margin-top: -63px;
}

.margin-menos{
    margin-top: -77px;
}

.compra_segura2{
    background-color: #F1F2F2;
    width: 100%;
}

.envio{
    grid-area: envio;
    align-self: center;
    justify-self: center;
}

.seguro{
    grid-area: seguro;
    align-self: center;
    justify-self: center;
}

.entrega{
    grid-area: entrega;
    align-self: center;
    justify-self: center;
}

.grid_comunidad{
    display: grid;
    grid-template-columns:repeat(6, auto);
    grid-template-rows:repeat(auto-fill, auto);
    grid-auto-flow: row;
    padding: 25px;
    grid-gap: 20px;
}

.grid_imagen img{
    height: 100%;
    width: 100%;
}

.banner-330{
    height: 330px;
    max-height: 330px;
    width: 100%;
}

.banner-330 img{
    height: 330px;
    max-height: 330px !important;
}

.banner-800{
    max-height: 800px;
    width: 100%;
}

.banner-800 img{
    max-height: 800px !important;
}

.txt-comunidad {
    font-size: 2.5rem !important;
}
.compra_segura2{
    display: none;
}

.showcase{
    padding: 25px;
}

.showcase .slick-next2, .showcase .slick-prev2, .slider .slick-next2, .slider .slick-prev2 {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 0;
    font-size: 1rem;
    cursor: pointer;
    background: rgba(0, 0, 0, .2);
    color: white;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: 0;
}

.showcase .slick-next2, .showcase .slick-prev2 {
    z-index: 1;
}
.showcase .slick-next2{
    right: -25px;
}
.showcase .slick-prev2 {
    left: -25px;
}

.slick-prev2:hover, .slick-prev2:focus, .slick-next2:hover, .slick-next2:focus {
    color: transparent;
    outline: none;
    background: rgba(0, 0, 0, .2) !important;
}

.slider a{
    padding: 0 5px;
}

@media screen and (max-width: 768px) {
    .grid_comunidad{
        grid-template-columns:repeat(3, auto);
    }
    .txt-comunidad {
        font-size: 2rem !important;
    }
    .compra_segura{
        display: none;
    }
    .compra_segura2{
        display: block;
    }
    .precio_envio_carrusel img{
        width: 9rem !important;
    }

    .mercado_pago_carrusel{
        top: 3rem;
    }
    .mercado_pago_carrusel img{
        width: 29rem !important;
    }

    .tiempo_envio_carrusel{
        top: 0rem !important;
    }
    .tiempo_envio_carrusel img{
        width: 9rem !important;
    }
    .showcase{
        padding: 15px;
    }
    .showcase .slick-prev2{
        left: -15px;
    }
    .showcase .slick-next2{
        right: -15px;
    }

    .banner-330{
        height: 270px;
        max-height: 270px;
        width: 100%;
    }
    
    .banner-330 img{
        height: 270px;
        max-height: 270px !important;
    }

    .banner-800{
        height: 300px;
        max-height: 300px !important;
    }
    
    .banner-800 img{
        height: 300px;
        max-height: 300px !important;
    }
}

@media screen and (max-width: 425px) {
    .h1, h1 {
        font-size: 1rem !important;
    }
    .div_categoria{
        grid-auto-columns: 33.5%;
    }
    .txt-comunidad {
        font-size: 1.5rem !important;
    }
    .mercado_pago_carrusel {
        top: 5rem !important;
    }

    .tiempo_envio_carrusel{
        top: 0;
    }
    .tiempo_envio_carrusel img{
        width: 7rem !important;
    }
    .mercado_pago_carrusel img{
        width: 100% !important;
    }
    .precio_envio_carrusel{
        top: 1rem;
    }
    .precio_envio_carrusel img{
        width: 7rem !important;
    }
    .margin-menos {
        margin-top: 0px !important;
    }

    .showcase{
        padding: 0;
    }
    .showcase .slick-prev2{
        left: 0;
    }
    .showcase .slick-next2{
        right: 0;
    }
    .slider a{
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    .txt-comunidad {
        font-size: 1.2rem !important;
    }
}